.title {
    justify-self: center;
}

.recent_games {
    justify-self: center;
}

.recent_text {
    padding-top:100px;
    justify-self: center;
}


.recent_game{
    width: 150px; 
    height: 150px;
    text-align: center;
    justify-self: center;
}

.subjects {
    justify-self: center;
}

.subjects_text {
    text-align: center;
}

.math{
    width: 150px; 
    height: 75px;
}

.history{
    width: 150px; 
    height: 75px;
}

.science{
    width: 150px; 
    height: 75px;
}

footer {
    text-align: center;
    padding-top: 50px;
}