/* math.html */
body {
    font-family: 'Caveat', cursive;
    background-image: url(Website_Background.png);
    background-size: 100%;
}
.flex-parent{
    display: flex;
}

.jc-center{
    justify-content: center;
}

button.margin-right{
    margin-right: 20px;
}

.math_game {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.home_button {
    width: 100px;
    height: 50px;
    justify-self: start;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}